.dashboardContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.dashboardContainer .leftPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

.dashboardContainer .leftPanel .salesSumary {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 720px;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
}

.dashboardContainer .rightPanel {
  display: flex;
  position: absolute;
  right: 0px;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

#salesChart {
  height: 300px;
  width: 100%;
  border: 1px solid #e0e0e0;
}
