.dashboardContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

.dashboardContainer .leftPanel {
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
  margin-left: 120px;
  flex-wrap: wrap;
  border: 2px solid black;
}

.dashboardContainer .leftPanel .salesSumary {
  display: flex;
  height: 120px;
  width: 800px;
  gap: 40px;
  border: 1px solid red;
}

.dashboardContainer .leftPanel .salesSumary span {
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  border-radius: 30px;
}

.dashboardContainer .rightPanel {
  display: flex;
  position: absolute;
  right: 0px;
  flex-direction: column;
  height: 100%;
    width: 300px;
}

#salesChart {
  display: flex;
  height: 300px;
  width: 800px;
  border: 1px solid #e0e0e0;
}
