.homeContainer {
    text-align: center;
    margin-top: 50px;
}

.homeButtons {
    margin-top: 20px;
}

.homeButtons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}